RewriteEngine On

RewriteRule ^items/(\d+)/screenshot$ data/screenshot/item/$1.png [QSA,L]
RewriteRule ^spells/(\d+)/screenshot$ data/screenshot/spell/$1.png [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

